# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

jobs:
  nix-build:
    docker:
      - image: "nixos/nix"
    steps:
      - run: nix-channel --update
      - run: nix-env -f '<nixpkgs>' -iA git
      - checkout
      - run: nix --extra-experimental-features 'flakes nix-command' build .
